body{

    background-color: rgba($color: #b6a2a2, $alpha: 0.1);

    .navbar{
        // border: 1px solid rgb(128, 10, 10);
        
       .container-fluid{
        // border: 1px solid rgb(176, 93, 93);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        
       }


    }
    h2{
        display: flex;
        justify-content: center;
    }
    .container{
        border: 1px solid rgb(0, 0, 0);
        border-radius: 20px;
        display: flex;
       flex-wrap: wrap;
       padding: 80px;
     
    }
}